body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-container {
    background-color: grey;
    width: 500px;
    height: 600px;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

button {
    font-size: 20px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 48px;
    color: white;
    flex: 1;
    background-color: darkslategray;
    grid-area: display;
}

.display span {
    margin-right: 20px;
}

.calculator-keys {
    flex: 4;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.add {
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

.clear {
    grid-column-start: 1;
    grid-column-end: 4;
}